//- Все примеси в этом файле должны начинаться c имени блока (slider)

mixin slider(vars)
	each item in vars
		.slider__heading What our customers are saying
		.slider__content
			.slider__profile
				.slider__avatar
					img.slider__avatar-img(src='/img/img__' + item.img + '_1x.jpg' srcset='/img/img__' + item.img + '_2x.jpg 2x' alt!= item.alt)
				.slider__data
					.slider__name!= item.name
					.slider__position!= item.position
			.slider__citation!= item.citation