// В этом файле должны быть стили для БЭМ-блока slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider {
	overflow: hidden;
	padding: 50px 0 80px 0;
	position: relative;
	@media (min-width: $screen-sm) {
		padding: 80px 0 90px 0;
	}
	@media (min-width: $screen-lg) {
		padding: 168px 0 121px 0;
	}
	&__container {
		background: var(--bg-gradient);
		border-radius: 24px;
	}
	&__inner {
		border-radius: 24px;
		padding-bottom: 62px;
		position: relative;
	}
	&__wrapper {
		height: 100%;
	}
	&__slide {
		height: 100%;
		overflow: hidden;
		padding: 32px;
		position: relative;
		@media (min-width: $screen-sm) {
			padding: 48px 64px;
		}
		@media (min-width: $screen-lg) {
			padding: 64px 114px 79px 122px;
		}
	}
	&__heading {
		@include heading;
		color: var(--color-typography-inverse);
		text-align: center;
		&::after {
			background: var(--color-typography-inverse);
			bottom: -25px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__content {
		align-items: center;
		color: var(--color-typography-inverse);
		display: flex;
		flex-direction: column;
		margin-top: 60px;
		text-align: center;
		@media (min-width: $screen-sm) {
			align-items: flex-start;
			margin-top: 80px;
			text-align: left;
		}
		@media (min-width: $screen-md) {
			align-items: center;
			flex-direction: row;
		}
		@media (min-width: $screen-lg) {
			margin-top: 104px;
		}
	}
	&__profile {
		align-items: center;
		display: flex;
		flex-direction: column;
		@media (min-width: $screen-sm) {
			flex-direction: row;
		}
	}
	&__avatar {
		border-radius: 50%;
		border: 4px solid var(--color-white);
		height: 90px;
		overflow: hidden;
		position: relative;
		width: 90px;
		@media (min-width: $screen-sm) {
			height: 133px;
			width: 133px;
		}
	}
	&__avatar-img {
		height: 200%;
		left: 50%;
		object-fit: cover;
		position: absolute;
		top: 50%;
		transform: translate(-45%,-40%);
		width: 200%;
		@media (min-width: $screen-md) {
			flex: 0 0 auto;
		}
	}
	&__data {
		margin: 16px 0 0 0;
		width: 187px;
		@media (min-width: $screen-sm) {
			margin: 0 0 0 29px;
		}
	}
	&__name {
		font-size: 22px;
		font-weight: 700;
		line-height: 115%;
	}
	&__position {
		color: var(--color-typography-inverse);
		font-weight: 400;
		line-height: 115%;
		margin: 8px 0 0 0;
		opacity: .85;
		@media (min-width: $screen-sm) {
			margin: 16px 0 0 0;
		}
	}
	&__citation {
		color: var(--color-typography-inverse);
		font-size: 16px;
		font-weight: 400;
		line-height: 157%;
		margin: 16px 0 0 0;
		opacity: .9;
		@media (min-width: $screen-md) {
			margin: 32px 0 0 0;
		}
		@media (min-width: $screen-md) {
			margin: 0 0 0 80px;
			font-size: 19px;
		}
		@media (min-width: $screen-lg) {
			margin: 0 0 0 110px;
		}
	}
	&__pattern {
		display: none;
		height: auto;
		pointer-events: none;
		position: absolute;
		width: 107px;
		@media (min-width: $screen-sm) {
			display: block;
		}
		@media (min-width: $screen-md) {
			height: auto;
			width: 132px;
		}
		&_outer {
			bottom: 230px;
			left: 50%;
			transform: translateX(-375px);
			z-index: -1;
			@media (min-width: $screen-md) {
				transform: translateX(-495px);
			}
			@media (min-width: $screen-lg) {
				transform: translateX(-610px);
			}
		}
		&_inner {
			right: -40px;
			top: -14px;
			z-index: 1;
			@media (min-width: $screen-md) {
				right: -51px;
			}
		}
	}
	&__dot {
		background: var(--color-blue);
		opacity: .4;
		& + & {
			margin-left: 10px;
		}
		@media (min-width: $screen-md) {
			& + & {
				margin-left: 18px;
			}
		}
		&_active {
			opacity: 1;
		}
	}
	&__pagination {
		bottom: 12px;
		justify-content: center;
		width: 100%;
	}
	&__icon {
		height: 30px;
		width: 30px;
	}
	&__button-prev,
	&__button-next {
		bottom: 4px;
		height: 30px;
		left: 50%;
		opacity: .5;
		right: auto;
		top: auto;
		transition: all .25s ease;
		&::after {
			content: none;
		}
		&:hover {
			opacity: 1;
		}
	}
	&__button-prev {
		outline: none;
		transform: translateX(-140px) rotate(180deg);
	}
	&__button-next {
		outline: none;
		transform: translateX(100px);
	}
}
