// В этом файле должны быть стили для БЭМ-блока slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider {
	//border-radius: 24px;
	padding: 50px 0 80px 0;
	
	//height: 100%;
	position: relative;
	
	overflow: hidden;
	@media (min-width: $screen-sm) {
		padding: 80px 0 90px 0;
	}
	@media (min-width: $screen-lg) {
		padding: 168px 0 121px 0;
	}

	&__container {
		padding-bottom: 62px;
	}

	&__inner {
	}

	&__slide {
		background: var(--bg-gradient);
		position: relative;
		border-radius: 24px;
		overflow: hidden;
		padding: 32px;
		@media (min-width: $screen-sm) {
			padding: 48px 64px;
		}
		@media (min-width: $screen-lg) {
			padding: 64px 114px 79px 122px;
		}
	}

	&__heading {
		@include heading;
		color: var(--color-typography-inverse);
		text-align: center;
		&::after {
			left: 50%;
			bottom: -25px;
			transform: translateX(-50%);
			background: var(--color-typography-inverse);
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		color: var(--color-typography-inverse);
		margin: 60px 0 0 0;
		align-items: center;
		text-align: center;
		@media (min-width: $screen-sm) {
			margin: 80px 0 0 0;
			text-align: left;
			align-items: flex-start;
		}
		@media (min-width: $screen-md) {
			flex-direction: row;
			align-items: center;
		}
		@media (min-width: $screen-lg) {
			margin: 104px 0 0 0;
		}
	}

	&__profile {
		display: flex;
		align-items: center;
		flex-direction: column;
		@media (min-width: $screen-sm) {
			flex-direction: row;
		}
	}


	&__avatar {
		width: 90px;
		height: 90px;
		position: relative;
		overflow: hidden;
		border: 4px solid var(--color-white);
		border-radius: 50%;
		@media (min-width: $screen-sm) {
			width: 133px;
			height: 133px;
		}
	}
	&__avatar-img {
		width: 200%;
		height: 200%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-45%,-40%);
		object-fit: cover;
		@media (min-width: $screen-md) {
			flex: 0 0 auto;
		}
	}

	&__data {
		margin: 16px 0 0 0;
		width: 187px;
		@media (min-width: $screen-sm) {
			margin: 0 0 0 29px;
		}
	}

	&__name {
		font-size: 22px;
		font-weight: 700;
		line-height: 115%;
		
	}

	&__position {
		font-weight: 400;
		line-height: 115%;
		margin: 8px 0 0 0;
		color: rgba(255, 255, 255, .85);
		@media (min-width: $screen-sm) {
			margin: 16px 0 0 0;
		}
	}

	&__citation {
		font-size: 16px;
		font-weight: 400;
		line-height: 157%;
		color: rgba(255, 255, 255, .9);
		margin: 16px 0 0 0;
		@media (min-width: $screen-md) {
			margin: 32px 0 0 0;
		}
		@media (min-width: $screen-md) {
			margin: 0 0 0 80px;
			font-size: 19px;
		}
		@media (min-width: $screen-lg) {
			margin: 0 0 0 110px;
		}
	}

	&__dot-element {
		position: absolute;
		width: 107px;
		height: 93px;
		display: none;
		@media (min-width: $screen-sm) {
			display: block;
		}
		@media (min-width: $screen-md) {
			width: 132px;
			height: 115px;
		}
		&_outer {
			z-index: -1;
			bottom: 230px;
			left: 50%;
			transform: translateX(-375px);
			@media (min-width: $screen-md) {
				transform: translateX(-495px);
			}
			@media (min-width: $screen-lg) {
				transform: translateX(-610px);
			}
			
		}
		&_inner {
			z-index: 1;
			top: -14px;
			right: -40px;
			@media (min-width: $screen-md) {
				right: -51px;
			}
		}
	}

	&__dot {
		background: var(--color-blue);
		opacity: .4;
		&_active {
			opacity: 1;
		}
	}
	&__button-prev,
	&__button-next {
		top: auto;
		bottom: 4px;
		left: 50%;
		right: auto;
		width: 42px;
		height: 28px;
		&::after {
			content: none;
		}
	}
	&__button-prev {
		transform: translateX(-140px);
	}
	&__button-next {
		transform: translateX(100px);
	}
}
