// В этом файле должны быть стили для БЭМ-блока header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header {
	padding: 16px 0;
	width: 100%;
	@media (min-width: $screen-md) {
		padding: 32px 0;
	}
	@media (min-width: $screen-lg) {
		padding: 56px 0;
	}
	&__inner {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
	&__logo {
		height: 41px;
		padding: 4px;
		width: 41px;
	}
	&__nav {
		display: none;
		@media (min-width: $screen-md) {
			display: flex;
		}
	}
	&__item {
		color: var(--color-typography);
		text-decoration: none;
		transition: color .5s ease;
		& + & {
			margin: 0 0 0 30px;
		}
		@media (min-width: $screen-md) {
			& + & {
				margin: 0 0 0 40px;
			}
		}
		&_active {
			color: var(--color-active);
			font-weight: 700;
		}
	}
	&__menu {
		fill: var(--color-blue);
		height: 48px;
		padding: 4px;
		width: 48px;
		@media (min-width: $screen-md) {
			display: none;
		}
	}
}
