:root {
	--font-family-base:				var(--font-family-sans);
	--font-family-sans:				'Mulish', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-family-serif:			serif, 'Times New Roman', Times;

	--color-typography:				#7D7987;
	--color-typography-inverse:		#ffffff;
	--color-heading:				#000000;
	--color-active:					#000000;

	--color-white:					#ffffff;
	--color-black:					#000000;
	--color-semi-white:				rgba(255, 255, 255, .5);
	--color-semi-black:				rgba(0, 0, 0, 0.5);

	--body-bg:						#ffffff;
	--body-color:					#000000;

	--font-size-base:				  1rem;
	--font-size-root:				  null;

	--font-weight-base:				  var(--font-weight-normal);
	--line-height-base:				  1;

	--shadow-color:					rgba(229, 233, 246, 0.4);
	--bg-gradient:					linear-gradient(180deg, #67C3F3 -8%, #5A98F2 80%);
	--color-blue:					#458ff6;
}