// В этом файле должны быть стили для БЭМ-блока hero, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.hero {
	overflow-x: hidden;
	padding: 50px 0;
	position: relative;
	@media (min-width: $screen-sm) {
		padding: 50px 0 80px 0;
	}
	@media (min-width: $screen-lg) {
		padding: 129px 0 248px 0;
	}
	&__content {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		text-align: center;
		@media (min-width: $screen-sm) {
			align-items: flex-start;
			text-align: left;
		}
	}
	&__heading {
		color: var(--color-heading);
		font-size: 38px;
		font-weight: 700;
		line-height: 117%;
		margin: 0;
		@media (min-width: $screen-md) {
			font-size: 48px;
		}
	}
	&__descr {
		font-size: 18px;
		font-weight: 300;
		line-height: 152%;
		margin: 15px 0 0 0;
		@media (min-width: $screen-md) {
			font-size: 21px;
			margin: 25px 0 0 0;
		}
	}
	&__button {
		margin-top: 25px;
		@media (min-width: $screen-sm) {
			margin-top: 35px;
		}
		@media (min-width: $screen-md) {
			margin-top: 45px;
		}
	}
	&__img-container {
		position: relative;
	}
	&__img {
		height: auto;
		left: 50%;
		position: relative;
		top: -40px;
		transform: translateX(-50%);
		width: 289px;
		z-index: -1;
		@media (min-width: $screen-sm) {
			position: absolute;
			height: auto;
			top: 0;
			transform: translateX(-155px);
			width: 350px;
		}
		@media (min-width: $screen-md) {
			height: auto;
			top: -40px;
			transform: translateX(-205px);
			width: 454px;
		}
		@media (min-width: $screen-lg) {
			height: auto;
			transform: translateX(-300px);
			width: 693px;
			top: -130px;
		}
	}
	&__bg-pattern {
		position: absolute;
		right: 50%;
		top: 0;
		transform: translateX(-720px);
	}
}