// В этом файле должны быть стили для БЭМ-блока footer-links, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer-links {
	&__list {
		display: grid;
		grid-gap: 30px;
		list-style: none;
		margin: 40px 0 0 0;
		padding: 0;
	}
	&__heading {
		font-size: 20px;
		font-weight: 700;
		line-height: 150%;
	}
	&__item {}
	&__link {
		color: var(--color-typography-inverse);
		display: inline-block;
		font-weight: 300;
		line-height: 150%;
		text-decoration: none;
		transition: all .25s ease;
		&:hover {
			font-weight: 700;
			transform: translateY(-3px);
		}
	}
}
