//- Все примеси в этом файле должны начинаться c имени блока (footer-links)

mixin footer-links(title, items)
	.footer-links
		.footer-links__heading= title
		ul.footer-links__list
			each item, index in items
				li.footer-links__item
					a.footer-links__link(href= item.href)!= item.link