// В этом файле должны быть стили для БЭМ-блока footer-links, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer-links {
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__heading {
		font-size: 20px;
		font-weight: 700;
		line-height: 150%;
	}

	&__item {
		&:first-of-type {
			margin: 40px 0 0 0;
		}
		& + & {
			margin: 30px 0 0 0;
		}
	}

	&__link {
		color: var(--color-typography-inverse);
		display: inline-block;
		text-decoration: none;
		font-weight: 300;
		line-height: 150%;
		transition: all .5s ease;
		
		&:hover {
			transform: translateY(-5px);
		}
	}
}
