//- Все примеси в этом файле должны начинаться c имени блока (card)

mixin card(vars)
	each item in vars
		.card
			.card__inner
				.card__icon
					//-svg.card__icon
					//-	use(xlink:href='/img/svgSprite.svg#icon__' + item.icon)
					img(src='/img/icon__' + item.icon + '.png' alt!= item.alt)
				.card__text
					h3.card__title!= item.title
					p.card__card-descr!= item.descr
