// В этом файле должны быть стили для БЭМ-блока card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card {
	background-color: var(--color-white);
	border-radius: 20px;
	box-shadow: 10px 40px 50px 0 var(--shadow-color);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	& + & {
		margin: 37px 0 0 0;
	}
	@media (min-width: $screen-sm) {
		width: 208px;
		& + & {
			margin: 0;
		}
	}
	@media (min-width: $screen-md) {
		width: 294px;
	}
	@media (min-width: $screen-lg) {
		width: 368px;
	}

	&__icon-wrapper {
		width: 80px;
		height: 95px;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		//justify-content: space-between;
		height: 100%;
		padding: 40px 30px 35px 20px;
		@media (min-width: $screen-md) {
			padding: 60px 50px 55px 40px;
		}
	}

	&__title {
		@include card-title;
		margin: 20px 0 0 0;
	}

	&__card-descr {
		@include card-descr;
	}
}
