// В этом файле должны быть стили для БЭМ-блока card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card {
	background-color: var(--color-white);
	border-radius: 20px;
	box-shadow: 10px 40px 50px 0 var(--shadow-color);
	display: flex;
	justify-content: space-between;
	//align-items: flex-start;
	flex-direction: column;
	min-height: 354px;

	&__icon-wrapper {
		width: 80px;
		height: 95px;
		//display: flex;
		//justify-content: flex-start;
		//align-items: flex-start;
	}

	&__inner {
		padding: 40px;
	}

	&__title {
		@include card-title;
		margin: 20px 0 0 0;
	}

	&__card-descr {
		@include card-descr;
	}
}
