//- Все примеси в этом файле должны начинаться c имени блока (servises-card)

mixin servises-card(vars)
	each item in vars
		.servises-card
			img.servises-card__icon(src='img/icon__' + item.icon + '.png' alt!= item.alt)
			h3.servises-card__title!= item.title
			p.servises-card__card-descr!= item.descr
