// В этом файле должны быть стили для БЭМ-блока icon, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.icon {
	display: block;
	&__logo-mini {
		width: 41px;
		height: 41px;
		padding: 4px;
		fill: var(--color-blue);
		&_white {
			fill: var(--color-white);
		}
	}

	&__logo-maxi {
		width: 160px;
		height: 41px;
		
	}

	&__menu {
		fill: var(--color-blue);
		width: 48px;
		height: 48px;
		padding: 4px;
	}
	&__close-menu {
		fill: var(--color-white);
		width: 48px;
		height: 48px;
		padding: 4px;
	}

	&__arrow {
		width: 26px;
		height: 16px;
		margin: 0 0 0 8px;
		fill: var(--color-blue);
		&_download {
		}
		&_readmore {
			transform: rotate(-90deg);
		}
	}
	&__nav-arrow {
		width: 42px;
		height: 28px;
		fill: var(--color-blue);
		opacity: .4;
		transition: all .25s ease;
		&_forward {
			transform: rotate(-90deg);
			//margin: 0 0 0 40px;
			@media (min-width: $screen-md) {
				//margin: 0 0 0 90px;
			}
		}
		&_back {
			transform: rotate(90deg);
			//margin: 0 40px 0 0;
			@media (min-width: $screen-md) {
				//margin: 0 90px 0 0;
			}
		}
		&:hover {
			opacity: 1;
		}
	}
}
