//- Все примеси в этом файле должны начинаться c имени блока (footer)

mixin footer(text, mods)

	//- Принимает:
	//- text {string} - текст
	//- mods {string} - список модификаторов

	//- Вызов:
		+footer('Текст', 'some-mod')

	-
		// список модификаторов
		let allMods = '';
		if(typeof(mods) !== 'undefined' && mods) {
			let modsList = mods.split(',');
			for (let i = 0; i < modsList.length; i++) {
				allMods = allMods + ' footer_' + modsList[i].trim();
			}
		}

	.footer(class=allMods)&attributes(attributes)
		.footer__inner
			block
