// В этом файле должны быть стили для БЭМ-блока footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer {
	background: var(--bg-gradient);
	color: var(--color-typography-inverse);
	overflow: hidden;
	padding: 80px 0;
	position: relative;
	@media (min-width: $screen-sm) {
	}
	@media (min-width: $screen-md) {
		padding: 109px 0;
	}
	&__info {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&__logo {
		flex: 0 0 auto;
		height: 41px;
		margin-top: 80px;
		width: 160px;
		@media (min-width: $screen-sm) {
			margin-top: 0;
		}
	}
	&__about {
		flex: 1 1 auto;
		font-size: 16px;
		font-weight: 300;
		line-height: 28px;
		margin: 17px 0 0 0;
	}
	&__copy {
		flex: 0 0 auto;
		font-size: 16px;
		font-weight: 300;
		line-height: 28px;
		margin: 31px 0 0 0;
	}
	&__links-grid {
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 60px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		@media (min-width: 600px) {
			grid-gap: 40px;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
			margin-top: 80px;
		}
		@media (min-width: $screen-md) {
			grid-gap: 0;
			margin-top: 0;
		}
	}
	&__pattern {
		bottom: -20px;
		left: 50%;
		position: absolute;
		transform: translateX(-825px);
	}
}
