header.header
	.grid
		.grid__row
			.grid__col.grid__col_lg-12
				.header__inner
					svg.svg.header__logo
						use(xlink:href='/img/svgSprite.svg#icon__logo_mini')
					.header__nav
						+main-nav([
									{link: 'Home', href: '#', class: 'main-nav__item_active'},
									{link: 'Find a doctor', href: '#'},
									{link: 'Apps', href: '#'},
									{link: 'Testimonials', href: '#'},
									{link: 'About us', href: '#'}
								])
					svg.svg.header__menu
						use(xlink:href='/img/svgSprite.svg#icon__menu')