//- Стандартный шаблон страницы
block variables
	- var title = 'Заголовок страницы'

include mixins.pug

doctype html
html(class='no-js', lang='ru-RU')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=0.1, shrink-to-fit=no')
		meta(name='google', content='notranslate')
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='date=no')
		meta(name='format-detection', content='address=no')
		meta(name='format-detection', content='email=no')
		meta(name='HandheldFriendly' content='true')
		meta(name='robots', content='index, follow')
		meta(name='theme-color', content='#000000')

		link(rel='icon', type='image/png', href='/img/favicon/favicon-32x32.png', sizes='32x32')
		link(rel='preconnect', href='https://fonts.gstatic.com')
		link(href='https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
		//link(href='../../node_modules/aos/dist/aos.css')
		block meta
			title!= title
			meta(name='description', content='')
			meta(name='keywords', content='')

		block head
			link(rel='stylesheet', href='css/style.css')

	body
		noscript У вас отключен JavaScript. Это пугает.

		.page
			//.page__header
				include ../pug/layout_parts_header.pug
			.page__body
				block content
			//.page__footer
				include ../pug/layout_parts_footer.pug

		script(src='/js/main.js')
		block scripts