header.header
	.grid
		.grid__row
			.grid__col.grid__col_lg-12
				.header__inner
					svg.svg.header__logo
						use(xlink:href='/img/svgSprite.svg#icon__logo_mini')
					nav.header__nav
						a.header__item.header__item_active(href='#') Home
						a.header__item(href='#') Find a doctor
						a.header__item(href='#') Apps
						a.header__item(href='#') Testimonials
						a.header__item(href='#') About us
					svg.svg.header__menu
						use(xlink:href='/img/svgSprite.svg#icon__menu')