//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.

include ../blocks/articles-card/articles-card.pug
include ../blocks/footer/footer.pug
include ../blocks/footer-links/footer-links.pug
include ../blocks/servises-card/servises-card.pug
include ../blocks/slider/slider.pug
