// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 56px;
	&__solid {
		background-color: var(--color-blue);
		padding: 18px 0;
		border-radius: 55px;
		transition: all .5s ease;
	}
	&__bordered {
		border: 1px solid var(--color-blue);
		padding: 18px 0;
		border-radius: 55px;
		transition: all .5s ease;
	}

	&__link {
		text-decoration: none;
		display: flex;
		width: 100%;
		height: 56px;
		justify-content: center;
		align-items: center;
		font-size: 15px;
		line-height: 112%;
		transition: all .5s ease;
		@media (min-width: $screen-md) {
			font-size: 18px;
		}
		&_w {
			color: var(--color-typography-inverse);
		}
		&_blue {
			color: var(--color-blue);
		}
		
	}
}

