// В этом файле должны быть стили для БЭМ-блока stages, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.stages {
	overflow: hidden;
	padding: 50px 0;
	position: relative;
	@media (min-width: $screen-sm) {
		padding: 80px 0 100px 0;
	}
	@media (min-width: $screen-lg) {
		padding: 179px 0 136px 0;
	}
	&__inner {
		& + & {
			margin-top: 100px;
		}
		@media (min-width: $screen-lg) {
			& + & {
				margin-top: 298px;
			}
		}
	}
	&__content {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: 30px 0 0 0;
		text-align: center;
		@media (min-width: $screen-sm) {
			align-items: flex-start;
			padding: 0;
			text-align: left;
		}
	}
	&__heading {
		@include heading;
		&::after {
			bottom: -30px;
			left: 50%;
			transform: translateX(-50%);
			@media (min-width: $screen-sm) {
				left: 0;
				transform: translateX(0);
			}
		}
	}
	&__descr {
		@include main-descr;
		margin: 61px 0 0 0;
	}
	&__button {
		margin-top: 40px;
		transition: all .5s ease;
	}
	&__img-container {
		position: relative;
	}
	&__img {
		height: auto;
		width: 300px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		@media (min-width: 600px) {
			height: auto;
			width: 479px;
		}
		@media (min-width: $screen-sm) {
			position: absolute;
			height: auto;
			width: 360px;
			transform: translateX(-160px);
			&_reverse {
				transform: translateX(-200px);
			}
		}
		@media (min-width: $screen-md) {
			height: auto;
			width: 479px;
			transform: translateX(-200px);
			&_reverse {
				transform: translateX(-280px);
			}
		}
		@media (min-width: $screen-lg) {
			height: auto;
			width: 665px;
			top: -40px;
			transform: translateX(-260px);
			&_reverse {
				transform: translateX(-430px);
			}
		}
	}
	&__pattern {
		height: auto;
		left: 50%;
		position: absolute;
		top: 600px;
		transform: translateX(170px);
		width: 107px;
		@media (min-width: 600px) {
			top: 700px;
			transform: translateX(240px);
		}
		@media (min-width: $screen-sm) {
			top: 450px;
			transform: translateX(340px);
		}
		@media (min-width: $screen-md) {
			height: auto;
			top: 500px;
			transform: translateX(460px);
			width: 132px;
		}
		@media (min-width: $screen-lg) {
			top: 650px;
			transform: translateX(710px);
		}
	}
}

