// В этом файле должны быть стили для БЭМ-блока stages, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.stages {
	position: relative;
	overflow: hidden;
	padding: 50px 0;
	@media (min-width: $screen-sm) {
		padding: 80px 0 100px 0;
	}
	@media (min-width: $screen-lg) {
		min-height: 1270px;
		padding: 179px 0 136px 0;
	}
	
	&__inner {
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column-reverse;
		& + & {
			margin: 100px 0 0 0;
		}
		@media (min-width: $screen-sm) {
			flex-direction: row;
		}
		@media (min-width: $screen-md) {
			align-items: center;
		}
		@media (min-width: $screen-lg) {
			padding: 50px 0;
			& + & {
				margin: 298px 0 0 0;
			}
		}
	}

	&__content {
		padding: 30px 0 0 0;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (min-width: $screen-sm) {
			align-items: flex-start;
			text-align: left;
			padding: 0;
		}
	}

	&__heading {
		@include heading;
		&::after {
			left: 50%;
			transform: translateX(-50%);
			bottom: -30px;
			@media (min-width: $screen-sm) {
				left: 0;
				transform: translateX(0);
			}
		}
	}

	&__descr {
		@include main-descr;
		margin: 61px 0 0 0;
	}

	&__button {
		margin: 40px 0 0 0;
		transition: all .5s ease;
	}

	&__img {
		width: 300px;
		height: auto;
		margin: 0 auto;
		@media (min-width: 600px) {
			width: 479px;
			height: auto;
		}
		@media (min-width: $screen-sm) {
			margin: 0;
			width: 360px;
			height: auto;
			position: absolute;
			&_even {
				left: 50%;
				transform: translateX(10px);
			}
			&_odd {
				right: 50%;
				transform: translateX(370px);
			}
		}
		@media (min-width: $screen-md) {
			width: 479px;
			height: auto;
			&_odd {
				transform: translateX(-15px);
			}
			&_even {
				transform: translateX(20px);
			}
		}
		@media (min-width: $screen-lg) {
			width: 665px;
			height: auto;
			&_even {
				transform: translateX(-28px);
			}
		}
	}

	&__bg-element {
		position: absolute;
		left: 50%;
		top: 600px;
		transform: translateX(170px);
		width: 107px;
		height: auto;
		@media (min-width: $screen-sm) {
			top: 450px;
			transform: translateX(340px);
		}
		@media (min-width: $screen-md) {
			width: 132px;
			height: auto;
			top: 500px;
			transform: translateX(460px);
		}
		@media (min-width: $screen-lg) {
			top: 650px;
			transform: translateX(710px);
		}
	}
}