// В этом файле должны быть стили для БЭМ-блока services, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.services {
	overflow: hidden;
	&__inner {
		position: relative;
		padding: 130px 0 0 0;
		@media (min-width: $screen-sm) {
			padding: 117px 0 0 0;
		}
		@media (min-width: $screen-md) {
			padding: 137px 0 0 0;
		}
		@media (min-width: $screen-lg) {
			padding: 197px 0 0 0;
		}
	}

	&__card-row {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		@media (min-width: $screen-sm) {
			flex-direction: row;
		}
		&_first {
			margin: 80px 0 0 0;
		}
		&_last {
			margin: 37px 0 0 0;
		}
	}

	&__heading {
		@include heading;
		color: var(--color-heading);
		@media (min-width: $screen-sm) {
			text-align: center;
		}
		&::after {
			left: 0;
			bottom: -24px;
			@media (min-width: $screen-sm) {
				bottom: -30px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	&__heading-descr {
		@include main-descr;
		margin: 61px 0 0 0;
		@media (min-width: $screen-sm) {
			text-align: center;
		}
	}

	&__btn {
		display: flex;
		justify-content: center;
		width: 200px;
		margin: 52px auto 0 auto;
		@media (min-width: $screen-sm) {
			margin: 62px auto 0 auto;
		}
		@media (min-width: $screen-md) {
			margin: 72px auto 0 auto;
		}
		&:hover {
			.btn__link {
				color: var(--color-heading);
			}
			.btn__bordered {
				border: 1px solid var(--color-heading);
			}
		}
		
	}

	&__bg {
		position: absolute;
		z-index: -1;
		&_organic-shape {
			right: 50%;
			top: 180px;
			transform: translateX(200px);
			@media (min-width: $screen-sm) {
				top: 120px;
				transform: translateX(230px);
			}
			@media (min-width: $screen-md) {
				transform: translateX(66px);
			}
			@media (min-width: $screen-lg) {
				top: 180px;
			}
		}
		&_dot-element {
			left: 50%;
			transform: translateX(150px);
			bottom: 450px;
			width: 107px;
			height: 93px;
			@media (min-width: $screen-sm) {
				width: 107px;
				height: 93px;
				transform: translateX(320px);
			}
			@media (min-width: $screen-md) {
				width: 132px;
				height: 115px;
				transform: translateX(420px);
			}
			@media (min-width: $screen-lg) {
				transform: translateX(506px);
			}
		}
	}
	
}
