// В этом файле должны быть стили для БЭМ-блока services, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.services {
	overflow: hidden;
	padding: 100px 0 50px 0;
	position: relative;
	@media (min-width: $screen-sm) {
		padding: 50px 0;
	}
	@media (min-width: $screen-md) {
		padding: 80px 0;
	}
	@media (min-width: $screen-lg) {
		padding: 100px 0;
	}
	&__header {
		align-items: center;
		flex-direction: column;
		text-align: center;
	}
	&__card-grid {
		display: grid;
		grid-row-gap: 34px;
		margin-top: 80px;
		width: 100%;
		@media (min-width: $screen-sm) {
			grid-column-gap: 34px;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}
		@media (min-width: $screen-md) {
			grid-row-gap: 37px;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}
	}
	&__heading {
		@include heading;
		color: var(--color-heading);
		text-align: center;
		&::after {
			bottom: -24px;
			left: 50%;
			transform: translateX(-50%);
			@media (min-width: $screen-sm) {
				bottom: -30px;
			}
		}
	}
	&__heading-descr {
		@include main-descr;
		margin: 61px 0 0 0;
		text-align: center;
	}
	&__button {
		display: flex;
		justify-content: center;
		margin: 52px auto 0;
		@media (min-width: $screen-sm) {
			margin: 62px auto 0;
		}
		@media (min-width: $screen-md) {
			margin: 72px auto 0;
		}
	}
	&__bg {
		position: absolute;
		z-index: -1;
		&_organic-shape {
			right: 50%;
			top: 160px;
			transform: translateX(180px);
			@media (min-width: $screen-sm) {
				top: 40px;
				transform: translateX(230px);
			}
			@media (min-width: $screen-md) {
				top: 80px;
				transform: translateX(66px);
			}
			@media (min-width: $screen-lg) {
				top: 120px;
			}
		}
		&_pattern {
			height: auto;
			left: 50%;
			top: 919px;
			transform: translateX(290px);
			width: 110px;
			@media (min-width: $screen-md) {
				height: auto;
				top: 665px;
				transform: translateX(410px);
				width: 132px;
			}
			@media (min-width: $screen-lg) {
				top: 685px;
				transform: translateX(506px);
			}
		}
	}
}
