// В этом файле должны быть стили для БЭМ-блока side-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.side-nav {
	background: var(--bg-gradient);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	padding: 16px 16px 16px 24px;
	position: fixed;
	right: -228px;
	top: 0;
	transform: translateX(0);
	transition: transform .5s ease;
	width: 228px;
	z-index: 105;
	.open-nav & {
		transform: translateX(-228px);
	}
	@media (min-width: $screen-sm) {
		right: -300px;
		width: 300px;
		.open-nav & {
			transform: translateX(-300px);
		}
	}
	@media (min-width: $screen-md) {
		display: none;
	}
	&__header {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
	&__body-wrapper {
		display: flex;
		flex-direction: column;
		height: calc(100% - 24px);
		justify-content: center;
		overflow: hidden;
	}
	&__body {
		-webkit-overflow-scrolling: touch;
		overflow: hidden;
		overflow-y: auto;
		padding: 24px 0;
	}
	&__logo {
		fill: var(--color-white) !important;
		height: 41px;
		padding: 4px;
		width: 41px;
	}
	&__cross {
		fill: var(--color-white) !important;
		height: 48px;
		padding: 4px;
		width: 48px;
	}
}
