// В этом файле должны быть стили для БЭМ-блока page, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100%;
	position: relative;
	font-size: 18px;
	&__header {
		flex: 0 0 auto;
	}
	&__body {
		flex: 1 1 auto;
		position: relative;
	}
	&__footer {
		flex: 0 0 auto;
	}
	&__blackout {
		height: 100%;
		left: 0;
		background: rgba(#113392, .7);
		position: fixed;
		opacity: 0;
		pointer-events: none;
		top: 0;
		transition: opacity .25s ease;
		width: 100%;
		z-index: 104;
		.open-nav & {
			opacity: 1;
			pointer-events: auto;
		}
		@media (min-width: $screen-md) {
			display: none;
		}
	}
}
